<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th{
            border: 1px solid black;
            padding: 10px;
            background-color: rgb(156, 150, 150);
            font-size: 20px;
        }
        td{
            border: 1px solid black;
            padding: 06px;
        }
        .disabled{
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }
        ul{
            display: flex;
            gap: 30px;
            justify-content: center;
        }
        li{
            list-style: none;
            font-size: 30px;    
        }
        a{
            text-decoration: none;
        }
        select{
            font-size: 17px;
        }
    </style>
</head>
<body>
    <center><h2>Hadiya Pathan <br> Date:28-02-2024 <br><br>RESULT GRID</h2>
    <table>
        <tr>
            <th rowspan="2">Id</th>
            <th rowspan="2">Name</th>
            <th colspan="2">Prelims Exam</th>
            <th colspan="2">Terminal Exam</th>
            <th colspan="2">Final Exam</th>
            <th rowspan="2">Detailed Result</th>
        <tr>
            <th>PrelimsTheory</th>
            <th >PrelimsPractical</th>
            <th>TerminalTheory</th> 
            <th>TerminalPractical</th>
            <th>FinalTheory</th>
            <th>FinalPractical</th>
            
        </tr>    
        </tr>
        <% data.forEach(entry => { %>
        <tr>
            <td><%= entry.studentId %></td>
            <td><%= entry.firstName %></td>
            <td><%= entry.PrelimTheory %></td>
            <td><%= entry.PrelimPrac %></td>
            <td><%= entry.TerminalTheory %></td>
            <td><%= entry.TerminalPrac %></td>
            <td><%= entry.FinalTheory %></td>
            <td><%= entry.FinalPrac %></td>
            <td><a href="/view/<%= entry.studentId%>">MORE</a></td>
        </tr>   
  <% }) %>  
    </table>
</center>
   <br>
   <ul>
    <% if(hasPreviousPage) { %>
   <li><a href="/task10?page=1"><<</a></li>
   <% } else {%>
    <li class="disabled"><<</li>
    <% } %>
   <% if(hasPreviousPage) { %>
       <li><a href="/task10?page=<%= prevPage %>"><</a></li>
       <% } else {%>
        <li class="disabled"><</li>
        <% } %>
   <li><span>  <%= page %> </span></li>
        <% if(hasNextPage) { %>      
  <li><a href="/task10?page=<%= nextPage %>">></a></li> 
  <% } else { %>
    <li class="disabled">></li> 
  <% } %>  
  <% if(hasNextPage) { %> 
  <li><a href="/task10?page=10">>></a></li>
  <% } else { %>
    <li class="disabled">>></li> 
  <% } %>
</ul>
<br><br><br>
</body>
</html>